:root { 
--red_800:#c63030; 
--red_800_1e:#c630301e; 
--gray_50:#f9f8f8; 
--teal_200:#93cebc; 
--teal_100:#b8e3e3; 
--bluegray_500_51:#47848851; 
--white_A700_cc:#ffffffcc; 
--black_900:#000000; 
--bluegray_500_cc:#478488cc; 
--bluegray_500_1e:#4884881e; 
--red_800_19:#c7303019; 
--gray_600:#6d6e6f; 
--black_900_0a:#0000000a; 
--gray_500:#a2a0a2; 
--bluegray_500_7f:#4884887f; 
--gray_900:#1e1f21; 
--bluegray_100:#cecbcb; 
--teal_200_85:#93cebc85; 
--gray_200:#eceae9; 
--black_900_a3:#000000a3; 
--gray_300:#e1e1e1; 
--bluegray_800:#294e50; 
--bluegray_501:#488488; 
--bluegray_500:#478488; 
--bluegray_400:#67a4a1; 
--bluegray_101:#d3d3d3; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
}